[*.cs]

# CS0660: El tipo define operator == or operator !=, pero no reemplaza a override Object.Equals(object o)
dotnet_diagnostic.CS0660.severity = none

# CS0661: El tipo define operator == or operator !=, pero no reemplaza a Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = none
